
.carousel-control {
  padding: 1rem;
  color: #ffffff;
  opacity: 0.85
}
@media (min-width: 744px) {
.carousel-control {
    font-size: 3rem;
}
}

.image-carousel {
  height: 100%;
  margin-top: -12vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-carousel img {
  width: 100%;
}
.image-carousel .controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.85);
}
#modal.show {
    display: block;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}
.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 28px 8px;
    font-size: 4em;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    z-index: 1000;
    font-weight: 100;
    line-height: 1;
}
.modal-content {
      height: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
}

.header {
  height: 320px;
}
.header .header-img {
    background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.header .header-img button {
  font-size: 14px;
  padding: 7px 18px;
  color: #484848;
  line-height: 1.43;
  background: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
}
.header .header-img button.view-photos {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
